name: Keep App Awake

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch: 

jobs:
  ping_app:
    runs-on: ubuntu-latest
    steps:
      - name: Ping the App
        run: |
          curl -L https://pitchviz-jhughes.streamlit.app/
